################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/introCSrharpWorld/.vs/introCSrharpWorld.slnx/FileContentIndex/02f5be78-354f-4354-b1c1-e20326f452f8.vsidx
/introCSrharpWorld/.vs/introCSrharpWorld.slnx/FileContentIndex/5a45e7f6-edc6-467c-91ac-15d78eb786f8.vsidx
/introCSrharpWorld/.vs/introCSrharpWorld.slnx/FileContentIndex/882e2706-79ef-45f4-b5b4-09973dc513a6.vsidx
/introCSrharpWorld/.vs/introCSrharpWorld.slnx/FileContentIndex/92ef8085-2a72-4424-9e21-21717a0bdb89.vsidx
/introCSrharpWorld/.vs/introCSrharpWorld.slnx/FileContentIndex/f6cb9f21-7c11-4f48-8bad-0e9086f10301.vsidx
